---
layout: default
---

<p><a href="https://github.com/UW-UPL/Talks" title="Full list of events">Click here</a> to view a comprehensive list of our past recorded talks and events.</p>

<section id="events">

  {% if site.data.isRecurring == true %}
    <section id="recurring-events">
      <h2>Recurring Events</h2>
      <div class="recurring-event-list-container">
        <ul class="recurring-event-list">
          {% assign recurring_events = site.data.events.recurring | sort: 'date' %}
          {% for recurring_event  in recurring_events reversed %}
          <li class="event">
            <div>
              <div class="event-desc">
                <h3 class="event-title">{{ recurring_event.title }}</h3>
                <h4 class="event-date">{{ recurring_event.date }}</h4>
                <h4 class="event-location">{{ recurring_event.location }}</h4>
                {{ recurring_event.description }}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% else %}
  {% endif %}

  <div class="onetime-event-list-container">
    <h2>Events</h2>
    <ul class="onetime-event-list">
      {% assign onetime_events = site.data.events.onetime | sort: 'date' %}
      {% for onetime_event in onetime_events reversed %}
      <li class="event">
        <div>
          <div class="event-desc">
            <h3 class="event-title">{{ onetime_event.title }}</h3>
            <h4 class="event-date">{{ onetime_event.date }}</h4>
            <h4 class="event-location">{{ onetime_event.location }}</h4>
            {{ onetime_event.description }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<script src="{{ '/js/events.js' | prepend: site.baseurl }}"></script>
