---
layout: default
---

<div class="intro">
  <section>
    <h2>Undergraduate Projects Lab</h2>
    <p>We're a resource for undergraduate students in UW Madison's Computer Science department. Find out why you should <a href="/about.html">join us!</a></p>
    <p>If the lab is open, feel free to come in!</p>
  </section>
</div>
<div class="home-container webcam-container">
  <h2>The Lab</h2>
  {% include current-coord.html %}
</div>
<section class="home-container projects-container">
  <h2>Projects</h2>
  {% include sorted-projects.html %}
</section>

