---
layout: default
---

<div class="intro">
  <section>
    <h2 class="upl-title">Undergraduate Projects Lab</h2>
    <p>We're a resource for undergraduate students in UW Madison's Computer Sciences department. Find out why you should <a href="/about.html">join us!</a></p>
    <p>If the lab is open, feel free to come in!</p>
  </section>
</div>
<div class="home-container webcam-container">
  <div class="webcam-wrapper">
      <!-- <video controls="" autoplay="" name="media"><source src="http://siren.upl.cs.wisc.edu:8090/consume/first" type="video/webm"></video> -->
    <div style="display:none;" id="webcam-slider"></div>

  </div>


  <h2>The Lab</h2>

  {% if site.data.lab.hours == false %}
    <p>We are not currently holding any official office hours. Check back during the Spring/Fall semester.</p>
  {% else %}
    {% include current-coord.html %}
  {% endif %}
</div>
<section class="home-container projects-container">
  <h2>Projects</h2>
  {% include sorted-projects.html %}
</section>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>
