<div class="wrapper">
    <h2>Faculty Advisor</h2>
    <p>Professor Bart Miller - bart [at] cs.wisc.edu"</p>
    <h2>Coordinators</h2>
    <p>These are the people responsible for the daily operation and maintenance of the UPL. If you have any questions email us at upl-coords [at] cs [dot] wisc [dot] edu</p>
    <ul class="coords-list">
        <li ng-repeat="coord in coords track by coord.id">
            <div class="coord-mug"><img title="{{coord.name}}" ng-src="content/coords/{{coord.photo ? coord.photo : 'default.png'}}" /></div>
            <h4>{{coord.name}}</h4>
            <div class="coord-info">
                <p>
                    {{coord.year}} majoring in {{coord.major}}
                    <br />
                    <a ng-if="coord.github" title="{{coord.name}}: GitHub" ng-href="{{coord.github}}">GitHub</a>
                </p>
            </div>
        </li>
    </ul>
</div>
