<div class="wrapper">
    <h2>Faculty Advisor</h2>
    <p><a href='http://cs.wisc.edu/~bart'>Professor Bart Miller</a>, who can be contacted at: <a href="http://www.google.com/recaptcha/mailhide/d?k=01Z1_UkqUnyoKdioWqOFLdUA==&amp;c=F2EDWSQsmN1SRBWVdMSIbR1d1CP1eqTqDRWQzLyEefw=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Z1_UkqUnyoKdioWqOFLdUA\75\75\46c\75F2EDWSQsmN1SRBWVdMSIbR1d1CP1eqTqDRWQzLyEefw\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">b...</a>@cs.wisc.edu
    <h2>Coordinators</h2>
    <p>These are the people responsible for the daily operation and maintenance of the UPL. If you have any questions email us at: <a href="http://www.google.com/recaptcha/mailhide/d?k=01enlvO279JKQY5RDqwSAZng==&amp;c=27tAYEUKmtum-50yZuZ4fT4un5toOiloDmEWiGfH0go=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501enlvO279JKQY5RDqwSAZng\75\75\46c\07527tAYEUKmtum-50yZuZ4fT4un5toOiloDmEWiGfH0go\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">u...</a>@cs.wisc.edu
    <ul class="coords-list">
        <li ng-repeat="coord in coords | orderBy: 'name' as filtered_result track by coord.id">
            <div class="coord-mug"><img title="{{coord.name}}" ng-src="content/coords/{{coord.photo ? coord.photo : 'default.png'}}" /></div>
            <h4>{{coord.name}}</h4>
            <div class="coord-info">
                <p>
                    {{coord.year}} majoring in {{coord.major}}
                    <br />
                    <a ng-if="coord.github" title="{{coord.name}}: GitHub" ng-href="{{coord.github}}">GitHub</a>
                </p>
            </div>
        </li>
    </ul>
</div>
