<div class="wrapper">
  <p><a href="https://github.com/UW-UPL/Talks" title="Full list of events">Click here</a> to view a comprehensive list of our past recorded talks and events.</p>
  <section ng-repeat="(key, events_part) in events" ng-if="events_part.length">
    <h1>{{key}} events</h1>
    <ul class="event-list">
      <li ng-repeat="event in events_part track by $index">
        <div class="event">
          <!--
          <div class="event-thumb">
            <img ng-if="event.image" ng-src="content/events/{{event.image}}" title="{{event.title}}" />
          </div>
          -->
          <div class="event-desc">
            <h2 class="event-title"><a ng-href='/#/events/{{event.link}}'>{{event.title}}</a></h2>
            <h3 class="event-date">{{event.dateString}}</h3>
            <h3 class="event-location">{{event.location}}</h3>
            <p ng-bind-html="event.description"></p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
