<div class="wrapper">
    <div class="webcam-container">
        <video autoplay="autoplay">
            <source src="http://eris.upl.cs.wisc.edu:8090/webcam.webm" type="video/webm">
                <!-- <img src="http://eris.upl.cs.wisc.edu:8090/webcam.mjpeg"> -->
        </video>
        <rzslider rz-slider-model="sliderSettings.value" rz-slider-options="sliderSettings.options"></rzslider>
    </div>

    <div class="upcomming-events">
        <div ng-repeat="event in events.Upcoming track by $index | limitTo: 3">
        </div>
    </div>
</div>
