<div class="wrapper">
    <p>The UPL is open whenever there is a coord present. If the door is open you are welcome to come in. In addition, the UPL is always open when a coord has office hours. These office hours are in 50-minute increments.</p>
    <table class="stacktable large-only">
        <tbody>
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <td>8:50AM</td>
                <td>{{hours.Monday["8:50AM"]}}</td>
                <td>{{hours.Tuesday["8:50AM"]}}</td>
                <td>{{hours.Wednesday["8:50AM"]}}</td>
                <td>{{hours.Thursday["8:50AM"]}}</td>
                <td>{{hours.Friday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td>9:55AM</td>
                <td>{{hours.Monday["9:55AM"]}}</td>
                <td>{{hours.Tuesday["9:55AM"]}}</td>
                <td>{{hours.Wednesday["9:55AM"]}}</td>
                <td>{{hours.Thursday["9:55AM"]}}</td>
                <td>{{hours.Friday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td>11:00AM</td>
                <td>{{hours.Monday["11:00AM"]}}</td>
                <td>{{hours.Tuesday["11:00AM"]}}</td>
                <td>{{hours.Wednesday["11:00AM"]}}</td>
                <td>{{hours.Thursday["11:00AM"]}}</td>
                <td>{{hours.Friday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td>12:05PM</td>
                <td>{{hours.Monday["12:05PM"]}}</td>
                <td>{{hours.Tuesday["12:05PM"]}}</td>
                <td>{{hours.Wednesday["12:05PM"]}}</td>
                <td>{{hours.Thursday["12:05PM"]}}</td>
                <td>{{hours.Friday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td>1:20PM</td>
                <td>{{hours.Monday["1:20PM"]}}</td>
                <td>{{hours.Tuesday["1:20PM"]}}</td>
                <td>{{hours.Wednesday["1:20PM"]}}</td>
                <td>{{hours.Thursday["1:20PM"]}}</td>
                <td>{{hours.Friday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td>2:25PM</td>
                <td>{{hours.Monday["2:25PM"]}}</td>
                <td>{{hours.Tuesday["2:25PM"]}}</td>
                <td>{{hours.Wednesday["2:25PM"]}}</td>
                <td>{{hours.Thursday["2:25PM"]}}</td>
                <td>{{hours.Friday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td>3:30PM</td>
                <td>{{hours.Monday["3:30PM"]}}</td>
                <td>{{hours.Tuesday["3:30PM"]}}</td>
                <td>{{hours.Wednesday["3:30PM"]}}</td>
                <td>{{hours.Thursday["3:30PM"]}}</td>
                <td>{{hours.Friday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td>4:35PM</td>
                <td>{{hours.Monday["4:35PM"]}}</td>
                <td>{{hours.Tuesday["4:35PM"]}}</td>
                <td>{{hours.Wednesday["4:35PM"]}}</td>
                <td>{{hours.Thursday["4:35PM"]}}</td>
                <td>{{hours.Friday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td>5:40PM</td>
                <td>{{hours.Monday["5:40PM"]}}</td>
                <td>{{hours.Tuesday["5:40PM"]}}</td>
                <td>{{hours.Wednesday["5:40PM"]}}</td>
                <td>{{hours.Thursday["5:40PM"]}}</td>
                <td>{{hours.Friday["5:40PM"]}}</td>
            </tr>
        </tbody>
    </table>

    <table class="stacktable small-only">
        <tbody>
            <tr class="st-head-row st-head-row-main">
                <th class="st-key">Time</th>
                <th class="st-val">Monday</th>
            </tr>
            <tr>
                <td class="st-key">8:50AM</td>
                <td class="st-val">{{hours.Monday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">9:55AM</td>
                <td class="st-val">{{hours.Monday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">11:00AM</td>
                <td class="st-val">{{hours.Monday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">12:05PM</td>
                <td class="st-val">{{hours.Monday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">1:20PM</td>
                <td class="st-val">{{hours.Monday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">2:25PM</td>
                <td class="st-val">{{hours.Monday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">3:30PM</td>
                <td class="st-val">{{hours.Monday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">4:35PM</td>
                <td class="st-val">{{hours.Monday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">5:40PM</td>
                <td class="st-val">{{hours.Monday["5:40PM"]}}</td>
            </tr>
            <tr class="st-head-row st-head-row-main">
                <th class="st-key">Time</th>
                <th class="st-val">Tuesday</th>
            </tr>
            <tr>
                <td class="st-key">8:50AM</td>
                <td class="st-val">{{hours.Tuesday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">9:55AM</td>
                <td class="st-val">{{hours.Tuesday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">11:00AM</td>
                <td class="st-val">{{hours.Tuesday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">12:05PM</td>
                <td class="st-val">{{hours.Tuesday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">1:20PM</td>
                <td class="st-val">{{hours.Tuesday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">2:25PM</td>
                <td class="st-val">{{hours.Tuesday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">3:30PM</td>
                <td class="st-val">{{hours.Tuesday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">4:35PM</td>
                <td class="st-val">{{hours.Tuesday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">5:40PM</td>
                <td class="st-val">{{hours.Tuesday["5:40PM"]}}</td>
            </tr>
            <tr class="st-head-row st-head-row-main">
                <th class="st-key">Time</th>
                <th class="st-val">Wednesday</th>
            </tr>
            <tr>
                <td class="st-key">8:50AM</td>
                <td class="st-val">{{hours.Wednesday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">9:55AM</td>
                <td class="st-val">{{hours.Wednesday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">11:00AM</td>
                <td class="st-val">{{hours.Wednesday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">12:05PM</td>
                <td class="st-val">{{hours.Wednesday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">1:20PM</td>
                <td class="st-val">{{hours.Wednesday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">2:25PM</td>
                <td class="st-val">{{hours.Wednesday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">3:30PM</td>
                <td class="st-val">{{hours.Wednesday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">4:35PM</td>
                <td class="st-val">{{hours.Wednesday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">5:40PM</td>
                <td class="st-val">{{hours.Wednesday["5:40PM"]}}</td>
            </tr>
            <tr class="st-head-row st-head-row-main">
                <th class="st-key">Time</th>
                <th class="st-val">Thursday</th>
            </tr>
            <tr>
                <td class="st-key">8:50AM</td>
                <td class="st-val">{{hours.Thursday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">9:55AM</td>
                <td class="st-val">{{hours.Thursday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">11:00AM</td>
                <td class="st-val">{{hours.Thursday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">12:05PM</td>
                <td class="st-val">{{hours.Thursday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">1:20PM</td>
                <td class="st-val">{{hours.Thursday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">2:25PM</td>
                <td class="st-val">{{hours.Thursday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">3:30PM</td>
                <td class="st-val">{{hours.Thursday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">4:35PM</td>
                <td class="st-val">{{hours.Thursday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">5:40PM</td>
                <td class="st-val">{{hours.Thursday["5:40PM"]}}</td>
            </tr>
            <tr class="st-head-row st-head-row-main">
                <th class="st-key">Time</th>
                <th class="st-val">Friday</th>
            </tr>
            <tr>
                <td class="st-key">8:50AM</td>
                <td class="st-val">{{hours.Friday["8:50AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">9:55AM</td>
                <td class="st-val">{{hours.Friday["9:55AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">11:00AM</td>
                <td class="st-val">{{hours.Friday["11:00AM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">12:05PM</td>
                <td class="st-val">{{hours.Friday["12:05PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">1:20PM</td>
                <td class="st-val">{{hours.Friday["1:20PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">2:25PM</td>
                <td class="st-val">{{hours.Friday["2:25PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">3:30PM</td>
                <td class="st-val">{{hours.Friday["3:30PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">4:35PM</td>
                <td class="st-val">{{hours.Friday["4:35PM"]}}</td>
            </tr>
            <tr>
                <td class="st-key">5:40PM</td>
                <td class="st-val">{{hours.Friday["5:40PM"]}}</td>
            </tr>        
        </tbody>
    </table>
</div>