<div class="wrapper">
    <p>The UPL is open whenever there is a coord present. If the door is open you are welcome to come in. In addition, the UPL is always open when a coord has office hours. These office hours are in 50-minute increments.</p>
    <div current-coord>
      <div ng-show='coordDataPayload' class='coord-present'>
        {{ coordDataPayload.msg }}
      </div>
      <div ng-show='!coordDataPayload' class='coord-not-present'>
        No designated coord at this time. Please check the webcam for activity.
      </div>
    </div>
    <br>
    <table class="hours striped large-only">
        <tr class="t-head">
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>

        <tbody>
            <tr ng-repeat="time in times">
                <td>{{time}}</td>
                <td>{{hours.Monday[time]}}</td>
                <td>{{hours.Tuesday[time]}}</td>
                <td>{{hours.Wednesday[time]}}</td>
                <td>{{hours.Thursday[time]}}</td>
                <td>{{hours.Friday[time]}}</td>
            </tr>            
        </tbody>

    </table>

    <table class="hours striped small-only">
        <tr class="t-head">
            <th class="st-key">Time</th>
            <th class="st-val">Monday</th>
        </tr>
        <tbody>
            <tr ng-repeat="time in times">
                <td class="st-key">{{time}}</td>
                <td class="st-val">{{hours.Monday[time]}}</td>
            </tr>
        </tbody>

        <tr class="t-head">
            <th class="st-key">Time</th>
            <th class="st-val">Tuesday</th>
        </tr>
        <tbody>
            <tr ng-repeat="time in times">
                <td class="st-key">{{time}}</td>
                <td class="st-val">{{hours.Tuesday[time]}}</td>
            </tr>
        </tbody>

        <tr class="t-head">
            <th class="st-key">Time</th>
            <th class="st-val">Wednesday</th>
        </tr>
        <tbody>
            <tr ng-repeat="time in times">
                <td class="st-key">{{time}}</td>
                <td class="st-val">{{hours.Wednesday[time]}}</td>
            </tr>
        </tbody>

        <tr class="t-head">
            <th class="st-key">Time</th>
            <th class="st-val">Thursday</th>
        </tr>
        <tbody>
            <tr ng-repeat="time in times">
                <td class="st-key">{{time}}</td>
                <td class="st-val">{{hours.Thursday[time]}}</td>
            </tr>
        </tbody>

        <tr class="t-head">
            <th class="st-key">Time</th>
            <th class="st-val">Friday</th>
        </tr>
        <tbody>
            <tr ng-repeat="time in times">
                <td class="st-key">{{time}}</td>
                <td class="st-val">{{hours.Friday[time]}}</td>
            </tr>
        </tbody>
    </table>
</div>
