<div class="wrapper">
	<div ng-if="status.unavailable">
		{{status.message}} Please email the coordinators at <a href="http://www.google.com/recaptcha/mailhide/d?k=01enlvO279JKQY5RDqwSAZng==&amp;c=27tAYEUKmtum-50yZuZ4fT4un5toOiloDmEWiGfH0go=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501enlvO279JKQY5RDqwSAZng\75\75\46c\07527tAYEUKmtum-50yZuZ4fT4un5toOiloDmEWiGfH0go\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">u...</a>@cs.wisc.edu for assistance. 
	</div>
    <div class="lab-table-container" ng-if="!status.unavailable">
        <table class="striped lab-status">
            <tr class="t-head">
                <th>Workstation</th>
                <th>Status</th>
            </tr>

            <tbody>
                <tr ng-repeat="machine in status.workstations.machines | orderBy:'name'">
                    <td class="st-key">{{machine.name}}</td>
                    <td class="st-val" ng-class="{ offline: !machine.online }">{{(machine.online)? "Online":"Offline"}}</td>
                </tr>            
            </tbody>
            
            <tr class="t-head">
                <th>Server</th>
                <th>Status</th>
            </tr>

            <tbody>
                <tr ng-repeat="machine in status.servers.machines | orderBy:'name'">
                    <td class="st-key">{{machine.name}}</td>
                    <td class="st-val" ng-class="{ offline: !machine.online }">{{(machine.online)? "Online":"Offline"}}</td>
                </tr>            
            </tbody>
        </table>
    </div>
</div>
