<div class="wrapper">
	<div ng-if="status.unavailable">
		{{status.message}}
	</div>
    <div class="lab-table-container" ng-if="!status.unavailable">
        <table class="striped lab-status">
            <tr class="t-head">
                <th>Workstation</th>
                <th>Status</th>
            </tr>

            <tbody>
                <tr ng-repeat="machine in status.workstations.machines | orderBy:'name'">
                    <td class="st-key">{{machine.name}}</td>
                    <td class="st-val" ng-class="{ offline: !machine.online }">{{(machine.online)? "Online":"Offline"}}</td>
                </tr>            
            </tbody>
            
            <tr class="t-head">
                <th>Server</th>
                <th>Status</th>
            </tr>

            <tbody>
                <tr ng-repeat="machine in status.servers.machines | orderBy:'name'">
                    <td class="st-key">{{machine.name}}</td>
                    <td class="st-val" ng-class="{ offline: !machine.online }">{{(machine.online)? "Online":"Offline"}}</td>
                </tr>            
            </tbody>
        </table>
    </div>
</div>