<div class="wrapper">
  <p>We have a collection of technical books for reference. Most of them can be checked out in person
  for up to a month. We are actively expanding our library &mdash; check back regularly to see if
  we have anything new.</p>
  <p>Use the search field below if you're looking for anything in particular &mdash; it applies
  to all fields.</p>
  <table id="library" cellspacing="0">
    <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Subject</th>
      <th>Year</th>
      <th>Language</th>
      <th>Topics</th>
      <th>Number</th>
      <th>ISBN</th>
    </tr>
    </thead>
  </table>
</div>
