<div class="footer">
  <div class="wrapper">
    <div class="location-info">
      <p>
        <a href="http://cs.wisc.edu">Department of Computer Sciences</a>
        <br>
        Room 1341
        <br>
        1210 West Dayton Street
        <br>
        Madison, WI 53706
        <br>
      </p>
    </div>
    <div class="uw-credit">
      <a href="http://www.wisc.edu/" title="University of Wisconsin-Madison"><img id="uw-logo" src="/images/uwlogo.png"></a>
      <p>© 2018 The Board of Regents of the University of Wisconsin System<br>Feedback, questions, or issues: <a href="mailto:upl@cs.wisc.edu">upl@cs.wisc.edu</a></p>
    </div>
  </div>
</div>
