h1 {
  background: $badgerRed;
  color: #fff;
  display: inline-block;
  padding: 12px 10px;
  font-size: 1.75em;
}

.event > div {
  border-bottom: 1px solid $divider;
  padding: 12px 0;

  .event-title {
    margin-top: 0;
  }

  h3 {
    margin: 0;
  }

}

.recurring-event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.onetime-event-list-container {
  display: none;
}

.onetime-event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    &:last-child .event {
      border-bottom: none;
    }
  }
}

