.intro {
  h2 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }
}

.home-container {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $divider;

  &:last-child {
    border-bottom: none;
  }
}

.webcam-container {
  text-align: center;

  h2 {
    font-size: 32px;
    text-align: left;
  }

  margin-bottom: 12px;

  video {
    max-height: 320px;
  }

  .webcam-wrapper {
    text-align: left;
    max-width: 480px;
    margin: 0 auto;

    .rz-pointer {
      background-color: $badgerRed;
    }
  }

  #click-to-stream {
    position:absolute;
    margin:0px;
    padding:4px;
    color:white;
    font-size:20px;
  }
}

.projects-container {
  h2 {
    font-size: 32px;
  }

  .projects-table {
    border-collapse: separate;
    border: 2.5%;
  }

  .project-box {
    width: 100%;
    border: 1px solid #c0c0c0;
    min-height: 150px;
    vertical-align: top;
    padding: 2.5%;
    margin: 5px auto;

    @include breakpoint($midBreakpoint) {
      width: 80%;
    }

    p {
      font-style: italic;
      color: $textLight;
    }

    small {
      color: $textLight;
    }
  }
}

.events-container {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .event-desc {
    @include breakpoint($midBreakpoint) {
      margin-left: 10px;
    }

    .event-info {
      margin-left: 10px;
    }
  }
}
