.lab-table-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

table.lab-status {
  display:none;
  .lab-table-machine-container {
    td:first-child {
      text-align: left;
    }

    td:nth-child(2) {
      color : $successGreen;
      &.offline {
        color: $errorRed;
      }
    }
  }
}
