---
import Base from "../layouts/Base.astro";
---

<Base title="Blog">
  <h2>404: Page Not Found</h2>
  <p>
    The page you're looking for doesn't exist or has been moved. Try <a href="/"
      >going home?</a>
  </p>
</Base>
