---
import Base from "../layouts/base.astro";
---

<Base title="UPL Assets">
  <h2>UPL Assets</h2>
  <p>Feel free to use these assets to show your support for the UPL. Also, visit the lab for some stickers :)</p>

  <div style="display: flex; flex-wrap: wrap; gap: 2em; margin-top: 1.5em; align-items: center;">
    <div style="display: flex; align-items: center;">
      <a href="/img/upl.gif">
        <img src="/img/upl.gif" alt="UPL 88x31 button" style="display: block; height: auto;" />
      </a>
    </div>
    <div style="display: flex; align-items: center;">
      <a href="/img/uplLogo.svg">
        <img src="/img/uplLogo.svg" alt="UPL Logo" style="display: block; height: auto; max-height: 31px;" />
      </a>
    </div>
    <div style="display: flex; align-items: center;">
      <a href="/img/lightningtalks.png">
        <img src="/img/lightningtalks.png" alt="Lightning Talks" style="display: block; height: auto; max-height: 31px; border: 1px solid black;" />
      </a>
    </div>
  </div>
</Base>
