---
import Layout from "../layouts/Layout.astro";
import CoordCard from "../components/CoordCard.astro";
import { getCollection } from "astro:content";
import type BaseHead from "../components/BaseHead.astro";

const CoordsCollection = await getCollection("coordinators");
---

<Layout>
	<div class="text-gray-700 font-sans">
		<h1 class="text-4xl font-semibold font-lato text-center pb-2">
			Meet the Coords
		</h1>
		<p class="text-lg text-gray-600 font-light pb-14 text-center">
			These are the people that run the UPL day-to-day. If you have any
			questions, reach out to EMAIL
		</p>
		<div
			class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-x-8 gap-y-16"
		>
			{
				CoordsCollection.filter((d) => d.data.isActive).map((coord) => (
					<CoordCard {coord} />
				))
			}
		</div>
		<div class="font-sans mt-8">
			<h1 class="text-4xl font-semibold font-lato text-center pb-2">
				Faculty Advisory
			</h1>
			<p class="text-lg text-gray-600 font-light pb-14 text-center">
				Our faculty advisory is Professor Bart Miller, who can be contacted at
				bart (at) cs.wisc.edu
			</p>
		</div>
		<div class="sm:mb-8 mx-auto sm:w-1/4 w-1/2">
			<CoordCard
				{...{
					coord: {
						data: {
							name: "Bart Miller",
							study: "Faculty Advisor",
							image: "bart-miller.jpg",
							personalLink: "https://www.cs.wisc.edu/~bart/",
							links: [
								{
									name: "Test",
									url: "https://www.google.com",
								},
							],
							bio: "Barton Miller is a Vilas Distinguished Achievement Professor and the Amar and Belinder Sohi Professor of Computer Sciences at the University of Wisconsin, Madison. He received his B.A. degree from the University of California, San Diego in 1977, and M.S. and Ph.D. degrees in Computer Science from the University of California, Berkeley in 1980 and 1984. Professor Miller is a Fellow of the ACM."
						},
					},
				}}
			/>
		</div>
	</div>
</Layout>
