---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

const events = await Promise.all(
	(
		await getCollection("events")
	)
		.sort(
			(a, b) =>
				b.data.date.getUTCMilliseconds() - a.data.date.getUTCMilliseconds()
		)
		.map(async (d) => {
			return {
				...d.data,
				content: await d.render(),
			};
		})
);

const curDate = new Date();

const futureEvents = events.filter((d) => d.date > curDate);

const pastEvents = events.filter((d) => d.date <= curDate);
---

<Layout>
	<h1 class="ml-2 mb-4 lg:text-4xl text-2xl font-bold">Upcoming Events</h1>
	{futureEvents.map((d) => <EventCard {...d} />)}
	{
		futureEvents.length === 0 && <p class="ml-2 mb-4 lg:text-xl text-lg font-bold text-gray-600">No upcoming events</p>
	}
	<h1 class="ml-2 mb-4 lg:text-4xl text-2xl font-bold">Past Events</h1>
	{pastEvents.reverse().map((d) => <EventCard {...d} />)}
</Layout>
