---
import Base from "../layouts/Base.astro";
---

<Base title="Undergraduate Projects Lab">
  <h2 class="upl-hero">The Undergraduate Projects Lab</h2>
  <p>
    The UPL is a space for students with an interest in computer science to meet
    each other, work on projects together, and participate in events. The UPL
    tradition has been carried on since the 1980s, under the advisorship of
    Professor Barton Miller and an unbroken lineage of elected student
    coordinators. We are always looking for new members with all levels of
    experience to join us and become the next generation of the UPL. We also
    operate a Discord server!
  </p>

  <div class="q-and-a">
    <h2>FAQ</h2>

    <h3>How do I get involved?</h3>

    <div class="answer">
      <ul>
        <li>
          <p>
            Come into the room and say hi! The room is open most times and
            guaranteed to be open during our hours, <a href="/hours"
              >which you can find here</a
            >.
          </p>
        </li>
        <li>
          <p>
            <a href="https://discord.gg/dmefFzm">Join the Discord server.</a>
            Say hi! Meet some people. You don't even need a Discord account at first.
            This is our pandemic-time equivalent of "being in the room".
          </p>
        </li>
        <li>
          <a href="https://github.com/UW-UPL/">
            Look at our fabulous GitHub repos</a
          >, including the repo for this very website.
        </li>
      </ul>
    </div>
  </div>

  <h3>Do I need to be a CS major?</h3>
  <p class="answer">
    No! While we're a CS focused organization, you don't need to be a CS major!
  </p>

  <h3>Do I need to be an undergraduate student?</h3>
  <p class="answer">
    No, you do not. Anyone who is a registered student with the University is
    welcome to use the machines and resources of the lab. We do have a few
    graduate students that frequent the lab as well.
  </p>

  <h3>What resources are available through the UPL?</h3>
  <div class="answer">
    <ol>
      <li>A lab room in the CS building.</li>
      <li>Server infrastructure for project use.</li>
      <li>Books to check out.</li>
      <li>
        And of course, each other, to talk to about anything CS (and more!).
      </li>
    </ol>
  </div>

  <h3>Can we still use the servers remotely?</h3>
  <p class="answer">
    Yes! It is possible for us to remotely access our servers. If that interests
    you, talk to us! Server infrastructure is an ongoing project.
  </p>
</Base>
