---
import Base from "../layouts/Base.astro";
---

<Base title="Project(s)">
  <h2>Projects</h2>
  <ul>
    <li>
      <a href="https://github.com/UW-UPL/door-counter-v2">People Counter</a>
      <a href="https://www.amoses.dev/blog/upl-people-counter/">(Blog)</a>
    </li>
  </ul>
  <h1>END OF LIST.</h1>
</Base>
