---
import Base from "../../layouts/base.astro";
---

<Base title="UPL Resources">
  <h2>Lists</h2>
  <p>This page contains selected resources focused on foundational knowledge and practical applications, as well as a few hidden gems:</p>
  <ul>
    <li>
      <a href="/resources/essentials">Essentials</a>: There are many lists filled with largely interchangable guides to language syntax, OOP-style code organization, and using existing libraries.
      These lists are sufficient to write software, but they are not sufficient to write <em>good</em> software.
      This list contains things programmers should be aware of, but are unlikely to encounter on their own.
    </li>
    <li>
      <a href="/resources/stuff-to-do">Stuff To Do</a>: Bored? Need project ideas? Looking for something to do? Check out this list!
    </li>
    <li>
      <a href="/resources/unix">Unix</a>: Contains a variety of resources on the design, implementation, and historical legacy of Unix-style operating systems.
    </li>
    <li>
      <a href="/resources/performance">Software Performance</a>: Gotta go fast.
    </li>
    <li>
      <a href="/resources/algorithms">Algorithms</a>: When brute force isn't enough.
    </li>
    <li>
      <a href="/resources/databases-and-filesystems">Databases & Filesystems</a>: Storing and working with data.
    </li>
    <li>
      <a href="/resources/for-fun">For Fun</a>: Believe it or not, there is fun to be had in computer programming.
    </li>
  </ul>

  <p>Run out of things to read? Visit <a href="https://news.ycombinator.com" target=_blank>Hacker News</a> and discover trending articles!

  <h2>UPL Assets</h2>
  <p>Feel free to use these assets to show your support for the UPL. Also, visit the lab for some stickers :)</p>

  <div style="display: flex; flex-wrap: wrap; gap: 2em; margin-top: 1.5em; align-items: center;">
    <div style="display: flex; align-items: center;">
      <a href="/img/upl.gif">
        <img src="/img/upl.gif" alt="UPL 88x31 button" style="display: block; height: auto;" />
      </a>
    </div>
    <div style="display: flex; align-items: center;">
      <a href="/img/uplLogo.svg">
        <img src="/img/uplLogo.svg" alt="UPL Logo" style="display: block; height: auto; max-height: 31px;" />
      </a>
    </div>
    <div style="display: flex; align-items: center;">
      <a href="/img/lightningtalks.png">
        <img src="/img/lightningtalks.png" alt="Lightning Talks" style="display: block; height: auto; max-height: 31px; border: 1px solid black;" />
      </a>
    </div>
  </div>
</Base>
