.project {
    border-bottom: 1px solid $divider;
    padding: 12px 0;

    .project-img-container {
      margin-bottom: 2em;
        .project-img {
            max-width: 50vw;
            display: block;
            margin: 0 auto;
            border-bottom: 1px dotted $divider;
        }
    }

    .project-title {
        margin-top: 0;
    }

    h3 {
        margin: 0;
    }

}

.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        &:last-child .project {
            border-bottom: none;
        }
    }
}
