---
import type { MarkdownHeading } from 'astro'
import type { AstroComponentFactory } from 'astro/dist/runtime/server'

type Props = {
    content: {
        Content: AstroComponentFactory;
        headings: MarkdownHeading[];
        remarkPluginFrontmatter: Record<string, any>;
    };
    date: Date;
    title: string;
    location: string;
    description?: string | undefined;
};

const d = Astro.props
---
<div class="bg-red-100 rounded-lg hover:shadow-lg transition-shadow duration-200 mb-8">
    <div class="p-6">
        <h1 class="text-xl font-bold text-gray-900 mb-2">{d.title}</h1>
        <div class="text-sm text-gray-600 mb-4">
            {d.date.toLocaleDateString("en-us", {
                year: "numeric",
                month: "long",
                day: "numeric",
                hour: "numeric",
                minute: "2-digit",
            })}{" "}
            · {d.location}
        </div>
        <div class="prose prose-lg prose-zinc max-w-none">
            <d.content.Content />
        </div>
    </div>
</div>
