<div class="footer">
    <div class="wrapper">
        <div class="location-info">
            <p>
                <small>
                    <a href="https://cdis.wisc.edu/">School of Computer, Data & Information Sciences</a>
                    <br />
                    <a href="http://cs.wisc.edu">Department of Computer Sciences</a>
                    <br />
                    Room 2618
                    <br />
                    1205 University Ave.
                    <br />
                    Madison, WI 53715
                    <br />
                </small>
            </p>
        </div>
        <div class="uw-credit">
            <a
                class="uw-logo"
                href="https://www.wisc.edu/"
                title="University of Wisconsin-Madison"
            ><img id="uw-logo" src="/img/uwlogo.png" /></a
            >
            <p>
                <small>
                    © {new Date().getFullYear()} The Board of Regents of the University of Wisconsin
                    System<br />Feedback, questions, or issues: <a
                        href="mailto:upl@cs.wisc.edu">upl@cs.wisc.edu</a
                    > · <a href="https://github.com/UW-UPL/Documentation/blob/master/Code-of-Conduct.md" target="_blank">Code of Conduct</a>
                </small>
            </p>
        </div>
    </div>
</div>
