<!DOCTYPE html>
<html>

  <head>
    {% if page.thumbnail %}<meta property=’og:image’ content='{{ page.thumbnail }}'/>{% endif %}
    <!--<meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />-->
  </head>

  {% include head.html %}

  <body>
    <div class="page">
      {% include header.html %}

      <div class="content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>

</html>
