---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro"

import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/800.css";
import "@fontsource/montserrat/900.css";

const { useFull } = Astro.props;

const width = useFull ? "md:w-full " : "md:w-3/4 ";
---

<!DOCTYPE html>
<html lang="en" class="global-wrapper font-['Lato'] bg-off-white">
	<head>
		<BaseHead title="UPL" description="" />
	</head>
	<body>
        <Header/>
		<div class={width + "sm:mx-auto"}>
        	<slot />
		</div>
		<footer class="p-3 text-black text-center font-sans">upl@cs.wisc.edu</footer>
	</body>
</html>
